

.toolbardemoBasicUsage md-toolbar md-icon.md-default-theme {
  color: white; }
.right{
  float : right;
}
#nav{
  height:100%;
  position: fixed;
}
.icon-size{
  font-size:1.5em;
}
.msg_cont{
  width:75%;
  position: fixed;
}
