<div ng-controller="InboxCtrl" ng-cloak>
  <div ng-controller='ComposeCtrl' ng-cloak layout-fill class="composeDialog">
   <md-toolbar>
      <div class="md-toolbar-tools">
        <span flex></span>
        <md-button class="md-icon-button" ng-click="closeDialog()">
          <md-icon aria-label="Close dialog">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-card flex>
      <md-card-content>
        <md-input-container class="md-icon-float md-block">
          <label>To:</label>
          <input ng-model="mail.receiver" placehoder="someone@mail.zairza.in" type="text">
        </md-input-container>
        <md-input-container class="md-icon-float md-block">
          <label>Subject:</label>
          <input ng-model="mail.subjectLine" placehoder="subject" type="text">
        </md-input-container>
        <textarea froala="froalaOptions" ng-model="mail.HtmlMessageBody" cols="15"></textarea>
      </md-card-content>
      <div layout="row">
        <md-card-actions flex="70" layout="row" layout-align="start end">
          <md-button >Attachments</md-button>
        </md-card-actions>
        <md-card-actions flex="30" layout="row" layout-align="end end">
          <md-button>Save</md-button>
          <md-button ng-click="sendMail();closeDialog()">Send</md-button>
        </md-card-actions>
      </div>
    </md-card>
  </div>
</div>
