
<div ng-controller="RegisterCtrl" ng-cloak id='registerdiv'>

  <md-content class="md-padding" layout-xs="column" layout="row" layout-align="center end">
    <div flex-xs flex-gt-xs="60" layout="column">
      <md-card>
        <md-card-title-text>
          <md-toolbar>
            <div class="md-toolbar-tools" flex text-align='center'>
              <span style='margin : auto; font-size : 1.5em'><strong>Register</strong></span>
            </div>
          </md-toolbar>
        </md-card-title-text>
        <md-card-content layout="row" layout-align="space-between" style="margin:auto">

          <form name="RegisterForm" ng-submit='Register($event)'>
            <md-input-container class="md-block">
              <label>Registration Number</label>
              <input required type="text" name="RegNumber" ng-model="Credentials.regno" id='regno'/>
              <div ng-messages="RegisterForm.RegNumber.$error" role="alert">
                <div ng-message-exp="['required']">
                  This field is required.
                </div>
              </div>
            </md-input-container>


						<md-input-container class="md-block">
              <label>First Name</label>
              <input required type="text" name="FirstName" ng-model="Credentials.first_name"/>
              <div ng-messages="RegisterForm.FirstName.$error" role="alert">
                <div ng-message-exp="['required']">
                  This field is required.
                </div>
              </div>
						</md-input-container>


            <md-input-container class="md-block">
							<label>Last Name</label>
              <input type="text" name="Number" ng-model="Credentials.last_name"/>
            </md-input-container>


						<md-input-container class="md-block">

							<label>Username</label>
	            <input id='username' required type="text" name="UserName" ng-model="Credentials.username"
                ng-model-options="{ updateOn: 'blur' }" ng-change='isavailable()' userValidate/>
							<p id='mail'>@mail.zairza.in {{usernameStatus}}</p>

              <div ng-messages="RegisterForm.UserName.$error" role="alert">
                <div ng-message-exp="['required']">
                  This field is required.
                </div>
              </div>
						</md-input-container>

						<md-input-container>
							<p>Gender :  <span class="radioValue">{{ Data.gender }}</span> </p>
    					<md-radio-group ng-model="Data.gender">
      				<md-radio-button value="Male"> Male </md-radio-button>
      				<md-radio-button value="Female"> Female </md-radio-button>
    					</md-radio-group>
						</md-input-container>


            <md-input-container class="md-block">
              <label>Password</label>
              <input required type="password" name="Password" ng-model="Credentials.password"
                     ng-pattern="/\w+/g"/>
              <div ng-messages="LoginForm.Password.$error" role="alert">
                <div ng-message-exp="['required', 'pattern']">
                  Password contains Invalid characters.
                </div>
              </div>
            </md-input-container>
						<md-input-container class="md-block">
              <label for="password_c">Confirm Password</label>
              <input type="password" id="password_c" name="password_c" ng-model="cnfPwd">
              <span ng-show="Credentials.password && Credentials.password!=cnfPwd ">Passwords do not match.</span>
              <br />
            </md-input-container>

						<md-input-container class="md-block">

							<label>Recovery Email</label>
							<input required type="email" name="RecEmail" ng-model="Credentials.rec_email"/>
							<div ng-messages="RegisterForm.UserName.$error" role="alert">
								<div ng-message-exp="['required' , 'email' ]">
									This field is required and must look like an email !
								</div>

							</div>
						</md-input-container>
						<md-input-container class="md-block">

							<label>Contact Number</label>
							<input required type="Number" name="contact" ng-model="Credentials.contact" minlength=10 maxlength=10/>
							<div ng-messages="RegisterForm.contact.$error" role="alert">
								<div ng-message-exp="['minlength','maxlength']">
									Contact Number must be 10 digits long.
								</div>

							</div>
						</md-input-container>

            <md-button type='submit' class="md-raised md-primary right">Register</md-button>
          </form>
        </md-card-content>
      </md-card>
    </div>
  </md-content>
</div>
<style>
  .inputdemoErrors .inputErrorsApp {
    min-height: 48px;
  }
  .inputdemoErrors md-input-container > p {
    font-size: 0.8em;
    text-align: left;
    width: 100%;
  }
	#username{
		width : 40%;
		text-align: right;
		float:left;
	}
	#mail{
		text-align: left;
		margin-top: 0.3em;
		float:left;
	}

</style>
